---
services: docker

env:
  # Test package install on all supported OSes.
  - distro: centos7
    playbook: test.yml
  - distro: centos6
    playbook: test.yml

script:
  # Configure test script so we can run extra tests after playbook is run.
  - export container_id=$(date +%s)
  - export cleanup=false

  # Download test shim.
  - wget -O ${PWD}/tests/test.sh https://gist.githubusercontent.com/geerlingguy/73ef1e5ee45d8694570f334be385e181/raw/
  - chmod +x ${PWD}/tests/test.sh

  # Run tests.
  - ${PWD}/tests/test.sh

  # Ensure ZabbixAgent is installed.
  - 'docker exec --tty ${container_id} env TERM=xterm which zabbix_agentd'
  - 'docker exec --tty ${container_id} env TERM=xterm test -x /usr/sbin/zabbix_agentd'

  - 'docker exec --tty ${container_id} env TERM=xterm zabbix_agentd --version'

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
